*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(0, 178, 190);
  
    font-family: Arial, sans-serif;
    background-color: #303030;
    text-align: center;
  }

  a{
    color: rgb(0, 205, 219);
  }

  a:focus{
    font-size: 14px;
  }

  a:hover{
    color: rgb(0, 119, 128);
  }

  ul{
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .main-ul-item-text{
    text-align:center;
   color: rgb(0, 132, 255);
    align-items: center;
  }

  span{
    color: rgb(111, 185, 255);
  }