* {
    background: none !important;
    color: black !important;
}

@page {
    margin: 50px;
}

body {
    font-family: "Times New Roman", Georgia, Palatino, serif;
}

.header,
.footer,
.sidebar {
    display: none;
}

.main-content {
    display: block;
}

a[href]:after {
    content: " (" attr(href) ")";
    font-size: 0.9em;
}